/* You can add global styles to this file, and also import other style files */
@font-face {
   font-family: "Roboto";
   src: url("./assets/fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
   font-family: "Nunito";
   src: url("./assets/fonts/nunito/Nunito-Regular.ttf");
}
